includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- phpstan-baseline.neon
parameters:
	level: 8
	paths:
		- bin
		- src
		- tests
	symfony:
		consoleApplicationLoader: tests/Build/console-application.php
		containerXmlPath: var/cache/container_test.xml
	stubFiles:
		- tests/Build/Stubs/GraphQL/QueryBuilder.stub
	scanFiles:
		- var/cache/container_test.php
