includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
	level: 8
	paths:
		- bin
		- src
		- tests
	symfony:
		consoleApplicationLoader: tests/Build/console-application.php
		containerXmlPath: var/cache/container_test.xml
	stubFiles:
		- tests/Build/Stubs/GraphQL/QueryBuilder.stub
	scanFiles:
		- var/cache/container_test.php
